.comentarios{

    & .imagem{
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 46px;

        font-weight: bold;
        font-size: 1em;

        float: left;
    }
    
    & .comentario{
        float: left;

        & .texto{
            line-height: 20px;
            margin: 0;
            margin-left: 10px;
            font-size: 1.5em;
        }
        
        & .rodape{
            margin: 0;
            margin-top: 5px;
            margin-left: 10px;
            font-size: 1em;
        }
        
        & button{
            margin-left: 10px;
        }
    }

    & .formulario{
        float: left;
        margin-left: 15px;
        margin-top: 5px;
    }
}